/* navBar.css */

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    top: 9vh;
    background-color: #f8f9fa;
    padding: 1vh 2vw;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}
